@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
        <div class="container">
            <a href="#"><img src="Nasa logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Explore</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Destinations</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Customers</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <button class="btn ms-4 sign-in">Sign in</button>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container news-container">
        <div class="row news-row">
            <div class="col-6 news-col-1">
                <h2 class="news-header"> Historic Mission to Mars </h2>
                <p class="news-text"> A multinational crew embarks on a groundbreaking journey to Mars, marking a new
                    era in space
                    exploration.
                </p>
                <button class="btn news-button">Learn More</button>
            </div>
            <div class="col-6 text-end">
                <img class="mw-100 h-auto" src="News.png" alt="News">
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">Features</div>

            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <img src="" alt="">
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>






        </div>


        <div class="form-container">
            <h2>Login</h2>
            <form id="loginForm">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>

        <div class="form-container">
            <h2>Register</h2>
            <form id="registerForm">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Register</button>
            </form>
        </div>








    </div>

    <div class="form-container">
        <h2>Register</h2>
        <form id="registerForm">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Register</button>
        </form>
    </div>

  <div class="continer">
    <div class="row">
      <div class="col-12">Features</div>

      <div class="col-3">
        <div class="card">
          <div class="card-body">

            <img src="rocket.jpg" alt="rocket">
            <h3>Galactic Destinations</h3>
            <p>NSP takes you to other planets within the Milky Way galaxy. Discover captivating celestial destinations,
              from Mars to Europa.</p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-body">

            <img src="rocket.jpg" alt="rocket">
            <h3>Cutting-Edge Craft</h3>
            <p>Experience space in style with NSP's advanced spacecraft. Enjoy comfort, panoramic views, and
              cutting-edge technology.</p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-body">

            <img src="rocket.jpg" alt="rocket">
            <h3>Unforgettable Journey</h3>
            <p>NSP offers unique experiences, from weightlessness to exploring distant planets. Your journey with us
              will be truly remarkable.</p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-body">

            <img src="rocket.jpg" alt="rocket">
            <h3>Sustainability Focus</h3>
            <p>At NSP, we're committed to minimizing our carbon footprint, ensuring the beauty of the Milky Way for
              generations to come.</p>
          </div>
        </div>
      </div>



      <div>
        <h1 class="destinationHeader">Destinations</h1>
      </div>


      <div class="container planetInfoContainer">
        <div class="row ">
          <div class="col-6">
            <h1>Mercury - The Sun's Searing Neighbor</h1>
            <p> Prepare for an out-of-this-world adventure on your fictional holiday to Mercury, the closest planet to
              the Sun. While it may be a scorched world, Mercury offers a unique and mesmerizing experience for intrepid
              travelers.
            </p>
            <button>Learn More</button>
          </div>
          <div class="col-6">
            <img src="Mercury.png" alt="News">
          </div>

        </div>
      </div>


      <div class="container planetInfoContainer">
        <div class="row ">
          <div class="col-6">
            <img src="Venus.png" alt="News">
          </div>
          <div class="col-6">
            <h1>Venus - The Fiery Gem of the Solar System</h1>
            <p> Welcome to an extraordinary and fictional holiday destination: Venus, the second planet from the Sun.
              Prepare for an otherworldly adventure like no other as you embark on a journey to this captivating and
              mysterious world within our solar system.
            </p>
            <button>Learn More</button>
          </div>


        </div>
      </div>


      <div class="container planetInfoContainer">
        <div class="row ">
          <div class="col-6">
            <h1>Mars - The Red Planet's Mysteries Await</h1>
            <p> Embark on an epic adventure to the fourth planet from the Sun, Mars. Your fictional holiday to Mars
              promises a unique blend of exploration, discovery, and Martian wonders.
            </p>
            <button>Learn More</button>
          </div>
          <div class="col-6">
            <img src="Mars.png" alt="News">
          </div>

        </div>
      </div>


      <div class="container planetInfoContainer">
        <div class="row ">
          <div class="col-6">
            <img src="Jupiter.png" alt="News">
          </div>
          <div class="col-6">
            <h1>Jupiter - The Giant of the Solar System</h1>
            <p> Prepare for an epic journey to the largest planet in our solar system, Jupiter. Your fictional holiday
              to Jupiter promises awe-inspiring encounters with its immense size, mesmerizing storms, and mysterious
              moons.
            </p>
            <button>Learn More</button>
          </div>


        </div>
      </div>



      <div class="container planetInfoContainer">
        <div class="row ">
          <div class="col-6">
            <h1>Saturn - The Ringed Wonder</h1>
            <p> Experience the enchanting beauty of Saturn, the ringed wonder of the solar system, on your fictional
              holiday. Immerse yourself in the celestial splendor of this iconic gas giant.
            </p>
            <button>Learn More</button>
          </div>
          <div class="col-6">
            <img src="Saturn.png" alt="News">
          </div>

        </div>
      </div>


      <div class="container planetInfoContainer">
        <div class="row ">
          <div class="col-6">
            <img src="Uranus.png" alt="News">
          </div>
          <div class="col-6">
            <h1>Uranus - The Sideways Giant</h1>
            <p> Embark on a unique adventure to Uranus, the seventh planet in our solar system. Your fictional holiday
              to Uranus offers a chance to explore the enigmatic ice giant and its unusual features.
            </p>
            <button>Learn More</button>
          </div>


        </div>
      </div>


      <div class="container planetInfoContainer">
        <div class="row ">
          <div class="col-6">
            <h1>Neptune - The Enigmatic Blue World</h1>
            <p> Prepare to embark on a mesmerizing journey to Neptune, the eighth and farthest planet in our solar
              system. Your fictional holiday to Neptune promises to uncover the secrets of this mysterious ice giant.
            </p>
            <button>Learn More</button>
          </div>
          <div class="col-6">
            <img src="Neptune.png" alt="News">
          </div>

        </div>
      </div>


      <div class="container planetInfoContainer">
        <div class="row ">
          <div class="col-6">
            <img src="Earth.png" alt="News">
          </div>
          <div class="col-6">
            <h1>Earth - Our Home Planet</h1>
            <p>Embark on an extraordinary journey to Earth, our very own home planet, and experience its natural
              wonders, diverse cultures, and stunning landscapes.
            </p>
            <button>Learn More</button>
          </div>


        </div>
      </div>












    </div>


    <div class="form-container">
      <h2>Login</h2>
      <form id="loginForm">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
      </form>
    </div>

    <div class="form-container">
      <h2>Register</h2>
      <form id="registerForm">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Register</button>
      </form>
    </div>








    <div class="purchase-container">
        <h2>Purchase</h2>
        <input type="date" id="dateInput">
        <button id="buyButton" disabled>Buy</button>
    </div>

    <div class="purchased-dates-container">
        <h2>Your Purchased Dates</h2>
        <ul id="purchasedDatesList"></ul>
    </div>


    <div id="welcomeMessage" style="display: none;"></div>
