@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form>
        <input type="text" id="number" value="8640123" disabled />
        <input type="button" onclick="incrementValue()" value="Increment Value" />
    </form>
    

</div>
