@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="#"><img src="Nasa logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex ">
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Explore</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Destinations</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Customers</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <button class="btn ms-4">Contact us</button>
                </ul>
            </div>
        </div>
    </nav>







    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
