@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
        <a href="#"><img src="Nasa logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item ms-4">
                    <a class="nav-link" href="#">Explore</a>
                </li>
                <li class="nav-item ms-4">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item ms-4">
                    <a class="nav-link" href="#">Destinations</a>
                </li>
                <li class="nav-item ms-4">
                    <a class="nav-link" href="#">Customers</a>
                </li>
                <li class="nav-item ms-4">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item ms-4">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <button class="btn ms-4 sign-in">Sign in</button>
            </ul>
        </div>
    </div>
</nav>

<div class="container news-container">
    <div class="row news-row">
        <div class="col-6 news-col-1">
            <h2 class="news-header"> Historic Mission to Mars </h2>
            <p class="news-text"> A multinational crew embarks on a groundbreaking journey to Mars, marking a new
                era in space
                exploration.
            </p>
            <button class="btn news-button">Learn More</button>
        </div>
        <div class="col-6 text-end">
            <img class="mw-100 h-auto" src="News.png" alt="News">
        </div>
    </div>
</div>
</div>



<div class="container w-auto">
    <div class="row text-center">
        <div class="col-12 my-5 d-flex justify-content-center">
            <h1 class="features-header d-flex align-items-center justify-content-center"><span
                    class="line"></span>Features<span class="line"></span></h1>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body p-0">
                    <img src="rocket.png" alt="rocket">
                    <h4>Galactic Destinations</h4>
                    <hr>
                    <p class="features-text">NSP takes you to other planets within the Milky Way galaxy. Discover
                        captivating celestial
                        destinations,
                        from Mars to Europa.</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body p-0">
                    <img src="astronots.png" alt="astronots">

                    <h4>Cutting-Edge Craft</h4>
                    <hr>
                    <p class="features-text"> Experience space in style with NSP's advanced spacecraft. Enjoy comfort,
                        panoramic views, and
                        cutting-edge technology.</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body p-0">
                    <img src="flying-astronot.png" alt="flying-astronot">
                    <h4>Unforgettable Journey</h4>
                    <hr>
                    <p class="features-text">NSP offers unique experiences, from weightlessness to exploring distant
                        planets. Your journey
                        with us
                        will be truly remarkable.</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body p-0">
                    <img src="solar-system.png" alt="solar-system.png">
                    <h4>Sustainability Focus</h4>
                    <hr>
                    <p class="features-text"> At NSP, we're committed to minimizing our carbon footprint, ensuring the
                        beauty of the Milky Way
                        for
                        generations to come.</p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container planetInfoContainer">
    <div class="row justify-content-center">
        <div class="col-12 my-5 d-flex justify-content-center">
            <h1 class="features-header d-flex align-items-center justify-content-center"><span
                    class="line"></span>Destinations<span class="line"></span></h1>
        </div>
        <div class="col-12 my-5">
            <div class="row px-5">
                <div class="col-6 px-5">
                    <h3>Mercury - The Sun's Searing Neighbor</h3>
                    <p class="destinations-text"> Prepare for an out-of-this-world adventure on your fictional holiday
                        to
                        Mercury, the closest planet
                        to
                        the Sun. While it may be a scorched world, Mercury offers a unique and mesmerizing experience
                        for
                        intrepid
                        travelers.
                    </p>
                    <button class="btn news-button">Learn More</button>
                </div>
                <div class="col-6 text-end">
                    <img src="Mercury.png" alt="News">
                </div>
            </div>
        </div>

        <div class="col-12 my-5">
            <div class="row px-5">

                <div class="col-6">
                    <img src="Venus.png" alt="News">
                </div>
                <div class="col-6">
                    <h3>Venus - The Fiery Gem of the Solar System</h3>
                    <p class="destinations-text"> Welcome to an extraordinary and fictional holiday destination: Venus,
                        the
                        second planet from the
                        Sun.
                        Prepare for an otherworldly adventure like no other as you embark on a journey to this
                        captivating
                        and
                        mysterious world within our solar system.
                    </p>
                    <button class="btn news-button">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-12 my-5 collapse" id="collapseExample">
            <div class="row px-5">


                <div class="col-6">
                    <h3>Mars - The Red Planet's Mysteries Await</h3>
                    <p class="destinations-text"> Embark on an epic adventure to the fourth planet from the Sun, Mars.
                        Your
                        fictional holiday to Mars
                        promises a unique blend of exploration, discovery, and Martian wonders.
                    </p>
                    <button class="btn news-button">Learn More</button>
                </div>
                <div class="col-6 text-end">
                    <img src="Mars.png" alt="News">
                </div>
            </div>
        </div>
        <div class="col-12 my-5 collapse" id="collapseExample">
            <div class="row px-5">


                <div class="col-6">
                    <img src="Jupiter.png" alt="News">
                </div>
                <div class="col-6">
                    <h3>Jupiter - The Giant of the Solar System</h3>
                    <p class="destinations-text"> Prepare for an epic journey to the largest planet in our solar system,
                        Jupiter. Your fictional
                        holiday
                        to Jupiter promises awe-inspiring encounters with its immense size, mesmerizing storms, and
                        mysterious
                        moons.
                    </p>
                    <button class="btn news-button">Learn More</button>
                </div>
            </div>

        </div>


        <div class="col-12 my-5 collapse" id="collapseExample">
            <div class="row px-5">


                <div class="col-6">
                    <h3>Saturn - The Ringed Wonder</h3>
                    <p class="destinations-text"> Experience the enchanting beauty of Saturn, the ringed wonder of the
                        solar
                        system, on your fictional
                        holiday. Immerse yourself in the celestial splendor of this iconic gas giant.
                    </p>
                    <button class="btn news-button">Learn More</button>
                </div>
                <div class="col-6 text-end">
                    <img src="Saturn.png" alt="News">
                </div>
            </div>
        </div>
        <div class="col-12 my-5 collapse" id="collapseExample">
            <div class="row px-5">


                <div class="col-6">
                    <img src="Uranus.png" alt="News">
                </div>
                <div class="col-6">
                    <h3>Uranus - The Sideways Giant</h3>
                    <p class="destinations-text"> Embark on a unique adventure to Uranus, the seventh planet in our
                        solar
                        system. Your fictional
                        holiday
                        to Uranus offers a chance to explore the enigmatic ice giant and its unusual features.
                    </p>
                    <button class="btn news-button">Learn More</button>
                </div>
            </div>
        </div>

        <div class="col-12 my-5 collapse" id="collapseExample">
            <div class="row px-5">



                <div class="col-6">
                    <h3>Neptune - The Enigmatic Blue World</h3>
                    <p class="destinations-text"> Prepare to embark on a mesmerizing journey to Neptune, the eighth and
                        farthest
                        planet in our solar
                        system. Your fictional holiday to Neptune promises to uncover the secrets of this mysterious ice
                        giant.
                    </p>
                    <button class="btn news-button">Learn More</button>
                </div>
                <div class="col-6 text-end">
                    <img src="Neptune.png" alt="News">
                </div>
            </div>
        </div>

        <div class="col-12 my-5 collapse" id="collapseExample">
            <div class="row px-5">


                <div class="col-6">
                    <img src="Earth.png" alt="News">
                </div>
                <div class="col-6">
                    <h3>Earth - Our Home Planet</h3>
                    <p class="destinations-text">Embark on an extraordinary journey to Earth, our very own home planet,
                        and
                        experience its natural
                        wonders, diverse cultures, and stunning landscapes.
                    </p>
                    <button class="btn news-button">Learn More</button>
                </div>
            </div>
        </div>
        <button class="btn news-button w-25" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            See More
        </button>
    </div>
</div>


<div class="container syj w-auto">
    <div class="row">
        <div class="col-12 my-5 d-flex justify-content-center">
            <h1 class="features-header d-flex align-items-center justify-content-center"><span class="line"></span>Start
                Your Journey<span class="line"></span></h1>
        </div>
        <div class="col-8">
            <div class="row px-3">
                <div class="col-4">
                    <p>From</p>
                    <select id="currentLocation" onchange="disableSelectedLocation('currentLocation')">

                        <option value="Earth">Earth</option>
                        <option value="Mars">Mars</option>
                        <option value="Jupiter">Jupiter</option>
                        <option value="Saturn">Saturn</option>
                        <option value="Mercury">Mercury</option>
                        <option value="Venus">Venus</option>
                        <option value="Uranus">Uranus</option>
                        <option value="Neptune">Neptune</option>
                    </select>
                    <p>Departure Time</p>
                    <div class="position-relative">
                        <input class="date-picker" type="date">

                    </div>
                </div>
                <div class="col-4">
                    <p>To</p>
                    <select id="destination" onchange="disableSelectedLocation('destination')">

                        <option value="Earth">Earth</option>
                        <option value="Mars">Mars</option>
                        <option value="Jupiter">Jupiter</option>
                        <option value="Saturn">Saturn</option>
                        <option value="Mercury">Mercury</option>
                        <option value="Venus">Venus</option>
                        <option value="Uranus">Uranus</option>
                        <option value="Neptune">Neptune</option>
                    </select>
                    <p>Return Time</p>
                    <div class="position-relative">
                        <input class="date-picker" type="date">
                    </div>
                </div>
                <div class="col-4">
                    <p>Passenger</p>
                    <div class="counter">
                        <button id="decrement-btn">-</button>
                        <div id="counter-value">0</div>
                        <button id="increment-btn">+</button>
                    </div>

                    <div class="row syj-check">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label ms-2" for="flexCheckDefault">
                                    One-way
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check align-items-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                <label class="form-check-label ms-2" for="flexCheckDefault2">
                                    Direct
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn news-button syj-button mt-5">Search</button>
        </div>
        <div class="col-4 text-end">
            <img src="syj-rocket.png" alt="syj-rocket">
        </div>
    </div>
</div>



<div class="container w-auto">
    <div class="row">
        <div class="col-12 my-5 d-flex justify-content-center">
            <h1 class="features-header d-flex align-items-center justify-content-center"><span
                    class="line"></span>Customers<span class="line"></span></h1>
        </div>
        <div class="col-4 my-5">
            <div class="card customerCard">
                <div class="card-body position-relative">
                    <img class="customer-image" src="customer1.png" alt="customer">
                    <h5>Brooklyn Simmons</h5>
                    <h6>Role&Company Name</h6>
                    <p>"NSP's Martian journey was filled with discoveries. Rugged landscapes, colony visits, and
                        Martian
                        sunsets
                        were unforgettable, expanding my horizons."</p>
                </div>
            </div>
        </div>


        <div class="col-4 my-5">
            <div class="card customerCard">
                <div class="card-body position-relative">
                    <img class="customer-image" src="customer2.png" alt="customer">
                    <h5>Jenny Wilson</h5>
                    <h6>Role&Company Name</h6>
                    <p>"Jupiter with NSP exceeded expectations. The Great Red Spot, moon-hopping, and stargazing
                        were
                        surreal,
                        giving me a cosmic perspective that left me awestruck." </p>
                </div>
            </div>
        </div>

        <div class="col-4 my-5">
            <div class="card customerCard">
                <div class="card-body position-relative h-auto">
                    <img class="customer-image" src="customer3.png" alt="customer">
                    <h5>Ronald Richards</h5>
                    <h6>Role&Company Name</h6>
                    <p> "Neptune with NSP was a dream come true. The blue atmosphere, auroras, and Triton's
                        mysteries
                        were
                        captivating, leaving me with cosmic wonder and a profound sense of exploration." </p>

                </div>
            </div>
        </div>
    </div>
</div>




<div class="container w-auto">
    <div class="row justify-content-center">
        <div class="col-12 my-3 d-flex justify-content-center">
            <h1 class="features-header d-flex align-items-center justify-content-center"><span
                    class="line"></span>FAQ<span class="line"></span></h1>
        </div>
        <div class="accordion" id="accordionExample1">
            <div class="accordion-item">
                <h2 class="accordion-header"> 
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                        aria-expanded="true" aria-controls="collapse1">
                        What destinations does NSP offer for space tourism adventures?
                    </button>
                </h2>
                <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample1">
                    <div class="accordion-body">
                        <hr>
                        NSP offers a range of destinations, including Mercury, Venus, Mars, Jupiter, Saturn,
                        Uranus, Neptune, and even Earth for extraordinary travel experiences.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample2">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                        aria-expanded="false" aria-controls="collapse2">
                        What kind of accommodations can I expect during my space tourism journey?
                    </button>
                </h2>
                <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                        <hr>
                        Accommodations vary by destination but are designed for comfort and safety, from
                        climate-controlled suits on hot planets to well-furnished research facilities on others.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample3">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
                        aria-expanded="false" aria-controls="collapse3">
                        How do you ensure the safety of travelers during these space adventures?
                    </button>
                </h2>
                <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                        <hr>
                        NSP places a premium on safety, providing advanced spacesuits, cutting-edge technology,
                        and highly trained guides to ensure the well-being of all travelers.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample4">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
                        aria-expanded="false" aria-controls="collapse4">
                        Can I book a space adventure for a specific duration, or are there fixed trip lengths?
                    </button>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample4">
                    <div class="accordion-body">
                        <hr>
                        You can customize the duration of your adventure with NSP, whether you prefer a brief
                        excursion or an extended stay to explore the wonders of your chosen destination.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample5">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        How can I join an NSP space tourism adventure, and what are the prerequisites?
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample5">
                    <div class="accordion-body">
                        <hr>
                        Joining NSP is easy! Visit our website, explore available journeys, and book your
                        adventure. Prerequisites may vary by destination, so check the specific requirements for
                        each trip.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="form-container">
    <h2>Login</h2>
    <form id="loginForm">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</div>

<div class="form-container">
    <h2>Register</h2>
    <form id="registerForm">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Register</button>
    </form>
</div>




@* <div class="purchase-container">
<h2>Purchase</h2>
<div class="position-relative">
<input class="date-picker" type="date" <span class="down-line"><img src="down-line.svg" alt="down-line"></
position-absolutespan>id="dateInput">
</div>
<button id="buyButton" disabled>Buy</button>
</div> *@

<div class="purchased-dates-container">
    <h2>Your Purchased Dates</h2>
    <ul id="purchasedDatesList"></ul>
</div>


@* <div>
<label for="currentLocation">Where are you:</label>

</div>

<div>
<label for="destination">Where do you want to go:</label>

</div> *@
