body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--black-variation-5, #1F1F1F);
    color: #ffffff;
    font-weight: 500;
}

.navbar {
    background-color: #0A0A0A;
}

.container {
    margin-left: 120px ;
    margin-right: 120px ;
}


.nav-item {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.08px;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover {
    color: #ffffff;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.sign-in {
    padding: 12px 16px;
    border-radius: 5px;
    background: var(--brand-colours-blue, #0B3D91);
    color: #ffffff;
    font-size: 16px;
}

.sign-in:hover {
    background-color: rgba(8, 45, 108, 1);
    color: #ffffff;
}

/*--------------------------------------*/
.news-container{
    width: auto;
    margin: 72px 132px 72px;
}
.card {

    align-items: center;
    width: Fixed (282px);
    padding: 12px;
    border-radius: 10px;
    gap: 15px;
    color: #ffffff;
    background-color: #1E5EC9;

}

.destinationHeader {
    margin-top: 40px;

    margin-bottom: 40px;

    text-align: center;
}

.planetInfoContainer{
    margin-top: 40px;
    margin-bottom: 40px;
}
.news-row {
    padding: 24px 12px;
    border-radius: 10px;
    background: #1B1B1B;
    box-shadow: 0px 8px 20px 0px rgba(89, 89, 89, 0.25), 0px -8px 20px 0px rgba(89, 89, 89, 0.25);
}

.news-col-1{
    padding-right: 10%;
}

.news-header {
    font-size: 48px;
}

.news-text {
    font-size: 24px;
}

.news-button {
    letter-spacing: 0.064px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    padding: 18px 32px;
    gap: 8px;
    border-radius: 5px;
    background: var(--blue-variation-main, #0B3D91);
}
.news-button:hover{
    color: #ffffff;
    background-color: #082D6C;
}


/*--------------------------------------*/

.features-header{
    font-size: 60px;
}